<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
{$main_jquery}
<body>
      <table name="main-table"><div name="current-user" style="font-size:15px;">目前使用者:{$smarty.cookies.wdcbcNAME}</div>
             <tr><td valign="top" name="menu-td">
                 <div>
                 {include file="menu.htm"}
             	   </div>
                 </td>
                 <td><div style="width:700px;height:600px;text-align:center;">
                 {*主要畫面*}
                 {$main_html}
                 </div></td>
             </tr>
      </table>
</body>
</html>

