<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
{literal}
   <!--基本樣式-->
	 <link type="text/css" href="css/basic.css" rel="stylesheet" />
	 <!--jquery ui-->
		<!--<link type="text/css" href="includes/jquery_ui/css/dark-hive/jquery-ui-1.8.9.custom.css" rel="stylesheet" />-->
		<link type="text/css" href="includes/jquery_ui/css/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-ui-1.8.9.custom.min.js"></script>
	
		<script type="text/javascript">
			$(function(){
			                      $(".jtable th,.edit_table_h th").each(function(){
 
                             $(this).addClass("ui-state-default");
 
                        });
                         
                        $(".jtable td,.edit_table_h td").each(function(){
 
                           $(this).addClass("ui-widget-content");
 
                       });
                        //游標在上面時變色
                        $(".jtable tr").hover(
                            function(){
                             $(this).children("td").addClass("ui-state-hover");
                            },
                            function()
                            {
                             $(this).children("td").removeClass("ui-state-hover");
                            }
                        );
                        $(".jtable tr").click(function(){
                           $(this).children("td").toggleClass("ui-state-highlight");
                       });

				

				// Datepicker
				$('#datepicker').datepicker({
					inline: true
				});
				
				//button
				$( "button,input:submit,div[name='menu']").button();

				 //試作頁面切換
				 
				
			});
		</script>
		
			
		{/literal}
<body>
           <table name="main-table">
                                     <div name="current-user" style="font-size:15px;">庫別:{$smarty.cookies.wdcbcSTORE}&nbsp;使用者:{$smarty.cookies.wdcbcNAME}
                                     {if $smarty.cookies.wdcbcUNACCEPT!="" and $smarty.cookies.wdcbcUNACCEPT!=0}<font color="red">待轉倉/未接收:{$smarty.cookies.wdcbcUNACCEPT}</font>{/if}
                                     </div>
                     
                  <tr><td valign="top" name="menu-td">
                          <div>{include file="menu.htm"}</div>
                      </td>
                      <td valign="top">
                          
                              <form id="menu_type" action="permis" method="post" ENCTYPE="multipart/form-data">
                              <table class="edit_table_h" style="font-size:12px;">
                                     <tr>
                              	          <th style="width:100px;text-align:center;">{literal}員工姓名{/literal}</th>
                              		         <td style="width:600px;"><input type="hidden" name="EUID" value="{$EUID}">
                              		         <input type="text" readonly=readonly name="ENAME" value="{$ENAME}"></td>
                              		     </tr>
                              		     <tr>
                              		         <th style="width:100px;text-align:center;">{literal}選單類別{/literal}</th>
                              		         <td style="width:600px;">
                              		         {foreach from=$mlist key=page item=data}
                              		                  {foreach from=$data key=key item=item}
                              		                           {if $item.FLAG=="Y"}
                              		                           <input type="checkbox" name="menu[]" checked value="{$item.ID}" >
                              		                           {else}
                              		                           <input type="checkbox" name="menu[]" value="{$item.ID}" >
                              		                           {/if}
                              		                           <span style="font-size:12px;">{$item.NAME}</span>
                              		                  {/foreach}
                              		                  <br/>
                              		         {/foreach}
                              		         </td>
                              		     </tr>
                              		     <tr>
                              	          <td colspan="2" style="width:100%;text-align:right;">
                              	          	   <input type="submit" id="submit" name="submit" value="修改">
                              	          </td>
                              	      </tr>
                              </table>
                              </form>
                              <hr>
                              
                              <table class="edit_table_h" style="width:420px;font-size:13px;">員工清單
                                     <tr>
                                         <th><div style="text-align:center;width:80px;">{literal}編輯權限{/literal}</div></th>
                                         <th><div style="text-align:center;width:200px;">{literal}員工姓名{/literal}</div></th>
                                     </tr>
                                     {foreach from=$EMP_LIST item=item key=key}
                                     <tr>
                                         <td><a href="permis?quid={$item.ID}">編輯權限</a></td>
                                         <td>{$item.NAME}</td>
                                     </tr>
                                     {/foreach}
                              <table>
                              
                          
                      </td>
                  </tr>
           </table>

</body>
</html>

