<html>
<head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
{literal}
<!--基本樣式-->
	 <link type="text/css" href="css/basic.css" rel="stylesheet" />
<style>	 
	 /*
	 div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		*/
		div#users-contain table { margin: 1em 0; border-collapse: collapse;}
		div#users-contain table td, div#users-contain table th { border: 1px solid #000000;}
</style>		
	 <!--jquery ui-->
		<link type="text/css" href="includes/jquery_ui/css/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/JavaScript">


  
function GetProdData(e,code,sid){
           $.ajax({
				     	          url: "ajax.php",
				     	          type: "POST",
				     	          dataType: "json",
				     	          data: {
				     	                	  cal: "GetProdName2",
				     	                	  code: code,
				     	                	  sid:  sid
				     	                },
				     	          error: function(msg) {
                        alert("fail!!"+msg);
                    },
                    success:function(data){
                      if (data.FLAG=="N"){
                        e.parent("td").find("input[name='pname[]']").val("找不到該商品資訊或數量已用完");
                      }
                      else{
                        //alert(data.NAME);
                        //alert(e.parents("td").find("input[name='pname[]']").length);
                        e.parent("td").find("input[name='pname[]']").val(data.NAME);
                        e.parent("td").find("input[name='pid[]']").val(data.ID);
                        e.parent("td").find("input[name='pline[]']").val(data.LINE);
                        e.parent("td").parent("tr").find("input[name='cost[]']").val(data.COST);
                        //e.parent("td").parent("tr").find("input[name='qty[]']").val(data.QTY);
                        e.parent("td").parent("tr").find("input[name='qty[]']").val(1);
                        countAMT();                         
                      }
                      //alert(typeof(data));

                    }
				       });
				       
				       
}
</script>		
<script type="text/JavaScript"> 
$(document).ready(function(){
                        $(".jtable,.edit_table_h").each(function(){
                                     $(this).addClass("ui-widget ui-widget-content");
                        });
                        $(".jtable th,.edit_table_h th").each(function(){
                        
                             $(this).addClass("ui-widget ui-widget-content ui-state-default");
                        
                        });
                          
                        $(".jtable td,.edit_table_h td").each(function(){
                        
                            $(this).addClass("ui-widget-content");
                        
                        });
                        
                        //游標在上面時變色
                        $(".jtable tr").hover(
                            function(){
                             $(this).children("td").addClass("ui-state-hover");
                            },
                            function()
                            {
                             $(this).children("td").removeClass("ui-state-hover");
                            }
                        );
                        
                        $(".jtable tr").click(function(){
                           $(this).children("td").toggleClass("ui-state-highlight");
                        });
                        
                        //button
				                    $( "button,input:submit,div[name='menu']").button();
				                    
				                    $("#RDATE").datepicker();
                        //$("#RDATE").attachDatepicker({dateFormat: 'yy-mm-dd'});
                        //$("#barcode").submit(function(){
                        //                alert($("input[name='CODE']").val());
                        //});
                    
                        
				        
				                    //刷barcode
				                    $("input[name='pcode[]']").keypress(function (e) {
				                       
				                       if (e.which == 13){
				                            var code=$(this).val();
				                            var sid="{/literal}{$smarty.cookies.wdcbcSTOREID}{literal}";
				                            //先檢查是否已刷過
				                            var pcount=0;
				                            $("input[name='pcode[]']").each(function(){
				                               if (code==$(this).val()){
				                                       pcount++;
				                               }
				                            });
				                            if (pcount>1){
				                                alert("已有相同條碼!!!");
				                                $(this).val("");
				                                return false;
				                            }
				                            //var cidx=$("*").index($(this)[0]);
				                            //$(this).css("display","none").parents("td").find("input[name='pname[]']").val("已按下enter").show();
				                            //alert($(this).parents("td").html());
				                            GetProdData($(this),code,sid);
				                            return false;
				                       }
                           
				                    });
                        $("form#query").submit(function(){
                        });
});
</script>
{/literal}
<body>
           <table name="main-table"><div name="current-user" style="font-size:15px;">庫別:{$smarty.cookies.wdcbcSTORE}&nbsp;使用者:{$smarty.cookies.wdcbcNAME}
           {if $smarty.cookies.wdcbcUNACCEPT!="" and $smarty.cookies.wdcbcUNACCEPT!=0}<font color="red">待轉倉/未接收:{$smarty.cookies.wdcbcUNACCEPT}</font>{/if}
           </div>
                     
                     <tr><td valign="top" name="menu-td">
                           <div>
                     {include file="menu.htm"}
                     	     </div>
                     </td><td valign="top"><div style="width:700px;height:600px;text-align:center;">
                     	
                     
                     {*主要畫面*}
                     
                                    <form id="query" action="" method="post" ENCTYPE="multipart/form-data">
                                    <div>
                                    <table class="edit_table_h" style="font-size:12px;">
                                    {*表頭*}
                                    <tr>
                                 		<th colspan="6"><divname="main_title" >{$title}</div></th>
                                 		</tr>
                                    
                                    <tr>
                                      <th><div style="text-align:center;width:60px;">{literal}條碼{/literal}</div></th>
                                    		<td><div style="text-align:center;width:240px;"><input type="text" name="code" style="width:180px;"></div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" style="text-align:right;">
                                    		<input type="submit" id="submit" name="submit" value="查詢">
                                    		</td>
                                    	</tr>
                                    </table>
                                    </div>
                                    
                                    
                                    <hr>{*表身*}
                                    {if $ddata|@count >0}
                                    <div id="users-contain" class="ui-widget">
                                    <table class="jtable" style="font-size:12px;">
                                           <thead>
                                           <tr>
                                               <th style="width:150px;text-align:center;">商品類別</th>
                                               <th style="width:150px;text-align:center;">品名</th>
                                               <th style="width:300px;text-align:center;">狀態</th>
                                               <th style="width:100px;text-align:center;">成本(單件)</th>
                                               <th style="width:100px;text-align:center;">廠商</th>
                                           </tr>
                                           </thead>
                                           <tbody>
                                           <tr>
                                               <td style="text-align:center;">{$ddata.PROD_TYPE}</td>
                                               <td>{$ddata.PROD_NAME}</td>
                                               <td>{$ddata.STATUS_DESC}</td>
                                               <td style="text-align:right;">{$ddata.COST}</td>
                                               <td style="text-align:right;">{$ddata.VENDOR}</td>
                                           </tr>
                                           </tbody>
                                    </table>
                                    </div>
                                    {else}
                                    {$msg}
                                    {/if}
                                    </form>
                                    
                                    </div>
                     </td></tr>
           </table>

</body>
</html>

