<html>
<head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
{literal}
<!--基本樣式-->
	 <link type="text/css" href="css/basic.css" rel="stylesheet" />
	 <!--jquery ui-->
		<!--<link type="text/css" href="includes/jquery_ui/css/dark-hive/jquery-ui-1.8.9.custom.css" rel="stylesheet" />-->
		<link type="text/css" href="includes/jquery_ui/css/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/JavaScript">
</script>
<script type="text/JavaScript"> 
$(document).ready(function(){
            
            //table 樣式
            $(".jtable th,.edit_table_h th,.rt-table th").each(function(){
                 $(this).addClass("ui-state-default");
            });
                         
            $(".jtable td,.edit_table_h td,.rt-table td").each(function(){
                $(this).addClass("ui-widget-content");
            });
            
            //游標在上面時變色
            $(".jtable tr").hover(
                function(){
                 $(this).children("td").addClass("ui-state-hover");
                },
                function()
                {
                 $(this).children("td").removeClass("ui-state-hover");
                }
            );
            
            $(".jtable tr").click(function(){
                $(this).children("td").toggleClass("ui-state-highlight");
            });
                        
            //button
				        $( "button,input:submit,div[name='menu']").button();
				        
				        
            
                    
});
</script>
{/literal}
<body>
           <table name="main-table"><div name="current-user" style="font-size:15px;">庫別:{$smarty.cookies.wdcbcSTORE}&nbsp;使用者:{$smarty.cookies.wdcbcNAME}</div>
                     
                     <tr><td><div style="width:700px;height:600px;text-align:center;">
                     	
                     
                     {*主要畫面*}
                     
                                    
                                    <div>
                                    <table class="edit_table_h" style="font-size:12px;">
                                    {*表頭*}
                                    <tr><th colspan="6"><div name="main_title">{$title}</div></th></tr>
                                    <tr>
                                    		<th><div style="width:80px;text-align:center;">{literal}出貨人員{/literal}</div></th>
                                    		<td><div style="width:80px;text-align:center;">{$hdata.UID_NAME}</div></td>
                                    		<th><div style="width:80px;text-align:center;">{literal}出貨庫別{/literal}</div></th>
                                    		<td><div style="width:80px;text-align:center;">{$hdata.SID_NAME}</div></td>
                                    		<th><div style="width:80px;text-align:center;">{literal}出貨日期{/literal}</div></th>
                                    		<td><div style="width:100px;text-align:center;">{$hdata.CTIME|date_format:"%Y-%m-%d"}</div></td>
                                    </tr>
                                    {if $hdata.TYPE==3}
                                    <tr>
                                      <th><div style="text-align:center;">{literal}類別{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.TRANS_TYPE}</div></td>
                                    		<th><div style="text-align:center;">{literal}接收人員{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.TEMP_NAME}</div></td>
                                    		<th><div style="text-align:center;">{literal}接收倉別{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.TSID_NAME}</div></td>
                                    </tr>
                                    {else}
                                    <tr>
                                      <th><div style="text-align:center;">{literal}類別{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.TRANS_TYPE}</div></td>
                                    		<th><div style="text-align:center;">{literal}客戶名稱{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.CNAME}</div></td>
                                    		<th><div style="text-align:center;">{literal}&nbsp;{/literal}</div></th>
                                    		<td><div style="text-align:center;">&nbsp;</div></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                    		<th><div style="text-align:center;">{literal}成本{/literal}</div></th>
                                    		<td><div style="text-align:right;">{$hdata.COST}</div></td>
                                    		<th><div style="text-align:center;">{literal}售價{/literal}</div></th>
                                    		<td><div style="text-align:right;">{$hdata.AMT}</div></td>
                                    		<th><div style="text-align:center;">{literal}利潤{/literal}</div></th>
                                    		<td><div style="text-align:right;">{$hdata.PROFIT}</div></td>
                                    </tr>
                                    <tr>
                                    		<th><div style="text-align:center;">{literal}備註{/literal}</div></th>
                                    		<td colspan="5"><div style="text-align:right;">{$hdata.REMARK}</div></td>
                                    		
                                    </tr>
                                    {if $hdata.PFLAG=="Y"}
                                    <tr>
                                    		<th><div style="text-align:center;">{literal}付款標記人員{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.PAY_EMP_NAME}</div></td>
                                    		<th><div style="text-align:center;">{literal}付款標記日期{/literal}</div></th>
                                    		<td><div style="text-align:center;">{$hdata.PTIME}</div></td>
                                    		<th><div style="text-align:center;">{literal}&nbsp;{/literal}</div></th>
                                    		<td><div style="text-align:center;">&nbsp;</div></td>
                                    </tr>
                                    {/if}
                                    </table>
                                    </div>
                                    <br>
                                    {*表身*}
                                    <div>
                                    <table class="jtable" style="font-size:12px;">
                                           <tr>
                                               <th style="width:40px;text-align:center;">項次</th>    
                                               <th style="width:80px;text-align:center;">類別</th>
                                               <th style="width:200px;text-align:center;">品名</th>
                                               <th style="width:80px;text-align:center;">數量</th>
                                               <th style="width:100px;text-align:center;">成本</th>
                                           </tr>
                                           {foreach from=$ddata item=item key=key}
                                           <tr>
                                               <td style="text-align:center;">{$item.LINE}</td>
                                               <td style="text-align:center;">{$item.PROD_TYPE}</td>
                                               <td style="text-align:center;">{$item.PROD_NAME}</td>
                                               <td style="text-align:right;">{$item.QTY}</td>
                                               <td style="text-align:right;">{$item.COST}</td>
                                           </tr>
                                           {/foreach}
                                    </table>
                                    </div>
                                    

                                    
                                    </div>
                     </td></tr>
           </table>

</body>
</html>

