<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
</head>
{literal}
	 <link type="text/css" href="css/basic.css" rel="stylesheet" />
		<link type="text/css" href="includes/jquery_ui/css/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="includes/jquery_ui/js/jquery-ui-1.8.9.custom.min.js"></script>
	
		<script type="text/javascript">
$(document).ready(function(){
            
            //table 樣式
            $(".jtable th,.edit_table_h th,.rt-table th").each(function(){
                 $(this).addClass("ui-state-default");
            });
                         
            $(".jtable td,.edit_table_h td,.rt-table td").each(function(){
                $(this).addClass("ui-widget-content");
            });
            
            //游標在上面時變色
            $(".jtable tr").hover(
                function(){
                 $(this).children("td").addClass("ui-state-hover");
                },
                function()
                {
                 $(this).children("td").removeClass("ui-state-hover");
                }
            );
            
            $(".jtable tr").click(function(){
                $(this).children("td").toggleClass("ui-state-highlight");
            });
                        
            //button
				        $("button,input:submit,div[name='menu']").button();
				                    
				        

                    
});
		</script>
		
			
		{/literal}
<body>
           <table name="main-table"><div name="current-user" style="font-size:15px;">目前使用者:{$smarty.cookies.wdcbcNAME}
           {*{if $smarty.cookies.wdcbcUNACCEPT!="" and $smarty.cookies.wdcbcUNACCEPT!=0}<font color="red">待轉倉/未接收:{$smarty.cookies.wdcbcUNACCEPT}</font>{/if}*}
           </div>
                     
                     <tr><td valign="top" name="menu-td"><div>
                     {include file="menu.htm"}
                     	   </div></td>
                         <td valign="top"><div style="width:700px;height:600px;text-align:center;">
                                 <form id="menu_type" action="" method="post" ENCTYPE="multipart/form-data">
                                 <table class="edit_table_h"  style="font-size:12px;">
                                   <tr>
                                 		<th colspan="2"><div name="main_title">{literal}選單類別{/literal}</div></th>
                                 		</tr>
                                 	 <tr>
                                 		<th><div style="width:60;text-align:center;">{literal}選單類別{/literal}</div></th>
                                 		<td><div style="width:640;text-align:center;"><input type="text" class="normal-input-text" name="name" value="{$edata.NAME}" ></div></td>
                                 		</tr>
                                 	 <tr>
                                 	 <td colspan="2" style="text-align:right;">
                                 	 	   <input type="hidden" name="id" value="{$edata.ID}">
                                 	 	   {if $edit==1}
                                 	 	   <input type="submit" id="submit" name="submit" value="編輯">
                                 	 	   {else}
                                 	 	   <input type="submit" id="submit" name="submit" value="新增">
                                 	 	   {/if}
                                 	 </td>
                                 	 </tr>
                                 </table>
                                 </form>
                                 <hr>
                                 
                                 <div>
                                 <table class="jtable" style="width:700px;font-size:12px;">
                                            <tr>
                                                <th><div style="text-align:center;width:60px;">{literal}項次{/literal}</div></th>
                                                <th><div style="text-align:center;width:640px;">{literal}選單類別{/literal}</div></th>
                                            </tr>
                                            {foreach name=cc from =$menutypedata item=item key=key}
                                            <tr><td><div style="text-align:center;">{$smarty.foreach.cc.iteration}</div></td>
                                                  <td><div style="text-align:center;"><a href="sysset_menu?edit=1&id={$item.ID}" >{$item.NAME}</a></div></td>
                                            </tr>
                                            {/foreach}
                                 <table>
                                 </div>
                                 <br/>
                                 <form id="menu" action="" method="post" ENCTYPE="multipart/form-data">
                                 <table class="edit_table_h" style="font-size:12px;">
                                   <tr>
                                 		<th colspan="4"><div name="main_title">{literal}選單{/literal}</div></th>
                                 		</tr>
                                 		<tr>
                                       <th><div style="text-align:center;width:200px;">{literal}選單名稱{/literal}</div></th>
                                       <th><div style="text-align:center;width:200px;">{literal}選單類別{/literal}</div></th>
                                       <th><div style="text-align:center;width:200px;">{literal}選單程式{/literal}</div></th>
                                       <th><div style="text-align:center;width:100px;">{literal}基本權限{/literal}</div></th>
                                   </tr>
                                   <tr>
                                       <td style="text-align:center;"><input type="text" class="normal-input-text" name="name" value="{$e2data.MENU_NAME}" ></td>
                                       <td style="text-align:center;"><input type="text" class="normal-input-text" name="type" value="{$e2data.TYPE}" ></td>
                                       <td style="text-align:center;"><input type="text" class="normal-input-text" name="file_name" value="{$e2data.FILE_NAME}" ></td>
                                       <td style="text-align:center;">
                                           <select name="basic">
                                                   <option value="Y" {if $e2data.BASIC=="Y"}selected=selected{/if}>是</option>
                                                   <option value="N" {if $e2data.BASIC=="N"}selected=selected{/if}>否</option></select></td>
                                   </tr>
                                 	 
                                 	 <tr>
                                 	 <td colspan="4" style="text-align:right;">
                                 	 	   <input type="hidden" name="id" value="{$e2data.ID}">
                                 	 	   {if $edit==2}
                                 	 	   <input type="submit" id="submit" name="submit1" value="編輯">
                                 	 	   {else}
                                 	 	   <input type="submit" id="submit" name="submit1" value="新增">
                                 	 	   {/if}
                                 	 </td>
                                 	 </tr>
                                 </table>
                                 </form> 
                                 <hr>
                                 <div>
                                 <table class="jtable" style="width:700px;font-size:12px;" >
                                        <tr>
                                            <th><div style="text-align:center;width:60px;">{literal}項次{/literal}</div></th>
                                            <th><div style="text-align:center;width:180px;">{literal}選單名稱{/literal}</div></th>
                                            <th><div style="text-align:center;width:180px;">{literal}選單類別{/literal}</div></th>
                                            <th><div style="text-align:center;width:180px;">{literal}選單程式{/literal}</div></th>
                                            <th><div style="text-align:center;width:100px;">{literal}基本權限{/literal}</div></th>
                                        </tr>
                                        {foreach name=cc from =$menudata item=item key=key}
                                        <tr><td><div style="text-align:center;">{$smarty.foreach.cc.iteration}</div></td>
                                            <td><div style="text-align:center;"><a href="sysset_menu?edit=2&id={$item.ID}" >{$item.MENU_NAME}</a></div></td>
                                            <td><div style="text-align:center;">{$item.MENU_TYPE}</div></td>
                                            <td><div style="text-align:center;">{$item.FILE_NAME}</div></td>
                                            <td><div style="text-align:center;">{$item.BASIC}</div></td>
                                        </tr>
                                        {/foreach}
                                 <table>
                                 </div>
                                 
                     </div></td></tr>
           </table>

</body>
</html>

